/**{*/
    /*outline: 2px solid #000;*/
/*}*/

header {
    height: 100px;
    margin: auto;
}

.container {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.footer{
    height: 200px;
    margin: auto;
}